.header {
    padding: 20px;
    text-align: center;
    background-color:rgb(51, 51, 51);
  }
  
  .format-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    margin-top: 10px;
  }
  
  .format-btn {
    padding: 6px 12px;
    cursor: pointer;
    color: white;
  }
  
  .format-btn.active,
  .format-btn:hover {
    color: #e62429;
    border-color: #e62429;
  }
  